/**-----Initial Settings----- */
/* prevent default margins messing up anything */
* { 
    margin: 0;
}
/* pull the body of page down to the bottom of the page */
html,
body {
    height: 100%;
    overflow: hidden;
}

/**-----Sidebar Styling-----*/
/* We want the sidebars to take the whole screen */
.sidebar {
    display: flex;
    height: 100%;
}
/* The left column is for navigation */
.sidebar__sidebar {
    background-color: rgb(66, 64, 64);
    border-right: 3px black solid;
    margin-right: 5px;
    text-align: center;
    width: 205px;
}
/* Customize each item in the sidebar to stand out from better */
.sidebar__sidebar > * {
    color: white;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* The right column should take the remaining space and be scrollable */
.sidebar__main {
    flex: 1;
    overflow: auto;
}
/* Change the styling of the links on the left sidebar */
.sidebar__sidebar > a {
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
}
/* Add padding from top of the page and the header */
.sidebar__sidebar > a > h1 {
    padding-top: 25px;
}
/* Let the user know which link they would be using if clicked */
.sidebar__sidebar > a:hover {
    color: rgb(182, 177, 177);
}
/* Have padding between all page links that are not the header */
.sidebar__sidebar > a.pageLink:not(.header) {
    padding-bottom: 5px;
}
/**-----Sidebar Category Styling----- */
h3.category {
    padding-top: 55px;
    padding-bottom: 5px;
    text-decoration: underline;
}

/**-----Main Page Styling----- */
/* each page starts not displayed and is shown based on what link is pressed */
.mainPage {
    display: none;
    /* Make the page stretch to the whole page */
    height: 100%;
    width: 100%;
}
/* The home page is displayed by default */
.mainPage#home {
    display: block;
}
/* !!!!!!!!! Showing the current page working on as the home page for now */
.mainPage#home {
    display: none;
} .mainPage#skillCalculator {
    display: block;
}

/**-----Experience Required Calculator Styling----- */
#expRequired {
    margin: 3%;
    border: solid black 1px;
    padding: 3px;
    width: fit-content;
    float: left;
}
#expRequiredInstructions {
    border-bottom: solid black 1px;
}
#expRequiredResults {
    border-top: solid black 1px;
}
#expRequired > table > tbody > tr > td {
    width: min-content;
}
#expCalculator > p {
    padding: 3%;
}

/**-----Cookie House Table Styling-----  */
#cookieHouseTable {
    border: solid black 1px;
    margin: 3%;
    margin-top: 0px;
    border-spacing: 0px;
    float: left;
}
#cookieHouseTable > tbody > tr > * {
    border-right: solid black 1px;
    padding-right: 4px;
    padding-left: 4px;
    border-bottom: solid black 1px;
}
#cookieHouseTable > tbody > tr > *:last-child {
    border-right: none;
}
#cookieHouseTable > tbody > tr:last-child > * {
    border-bottom: none;
}
#cookieHouseTable > tbody > tr {
    text-align: center;
}
#cookieHouseTable > tbody > tr:nth-child(2n+1) > * {
    background-color: lightblue;
}
#cookieHouseTable > tbody > tr:nth-child(2n) > * {
    background-color: rgb(163, 192, 202);
}
#expCalculator > p#cookieHouseText {
    padding-top: 0px;
}
.divSpacer {
    width: 100%;
    display: flex;
}

/**-----Experience In Candys Calculator Styling----- */
table#totalExpInCandy {
    border: solid black 1px;
    float: inline-start;
    margin: 3%;
    padding: 4px;
}
#tastierJellyLabel {
    border: solid black 1px;
    padding: 4px;
}
#totalCandyResult {
    border-top: solid black 1px;
    padding: 4px;
    padding-bottom: 0px;
}
table#totalExpInCandy > tbody > tr > td:nth-child(2) > input {
    float: right;
}

/**-----Tastier Jelly Table Styling-----*/
#tastierJellyTable {
    border: solid black 1px;
    border-collapse: collapse;
    float: left;
    margin: 3%;
    text-align: center;
}
#tastierJellyTable > tbody > tr:first-child > th:first-child,
#tastierJellyTable > tbody > tr > td:first-child {
    border: solid black 1px;
}
#tastierJellyTable > tbody > tr > td {
    border-bottom: solid black 1px;
}
#tastierJellyTable > tbody > tr > td {
    padding-right: 5px;
    padding-left: 5px;
}
/**-----Tastier Jelly Text Styling-----*/
#tastierJellyText {
    display: inline-block;
    margin: 3%;
    margin-top: 0;
}
/**-----Tastier Jelly Bonus Table Styling-----*/
table#tastierJellyBonusTable {
    border: solid black 1px;
    border-collapse: collapse;
    float: left;
    margin: 3%;
    text-align: center;
}
table#tastierJellyBonusTable > tbody > tr > th {
    border: solid black 1px;
    padding: 4px;
}
table#tastierJellyBonusTable > tbody > tr > td:first-child {
    border-right: solid black 1px;
}